body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page .vanta-canvas {
  z-index: 1 !important;
}  

.gradient-text span {
  background: linear-gradient(45deg, #FF8660, #8000FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
