@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text span {
    background: linear-gradient(45deg, #FF8660, #8000FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }